.btn {
  display: inline-flex;
  padding: 13px;
  align-items: center;
  justify-content: center;

  background-color: $color-summer-sky;
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  @include vp-959 {
    font-size: 14px;
  }


  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
