.decor {
  position: absolute;
  top: -83px;
  left: 50%;
  transform: translateX(-9%);
  width: 1859px;
  height: 602px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
  will-change: transform;

  @include vp-1439 {
    top: -41px;
    width: 1081px;
    height: 364px;
    transform: translateX(0);
  }

  @include vp-959 {
    display: none;
  }
}
