.header {
  position: relative;
  padding: 30px 0 25px 0;

  @include vp-1439 {
    padding: 27px 0 20px 0;
  }

  @include vp-959 {
    padding: 10px 0 17px 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-default-white;
    opacity: 0.3;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include vp-959 {
      align-items: center;
    }
  }

  &__nav {
    transform: translateX(192px);

    @include vp-1919 {
      transform: translateX(0);
    }
  }

  &.is-open {
    .header__nav {
      @include vp-959 {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
