.link-list {
  width: 100%;
  margin: -10px 0 0 -10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;

  @include vp-959 {
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;

    .link-list__link {
      background-color: $color-mardi-gras;

      @include hover-focus {
        background-color: $color-nero;
      }
    }

    &--fill-pacific-blue {
      .link-list__link {
        background-color: $color-pacific-blue;
      }
    }

    &--fill-san-marino {
      .link-list__link {
        background-color: $color-san-marino;
      }
    }

    &--fill-chilean-fire {
      .link-list__link {
        background-color: $color-chilean-fire;
      }
    }

    &--extra-pd {
      .link-list__link {
        padding: 0 16px;
      }
    }
  }

  &__link {
    min-width: 43px;
    min-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $trans-default;
  }

  &--wide-items {
    .link-list__item .link-list__link {
      width: 139px;
      height: 49px;

      @include vp-1439 {
        width: 118px;
        height: 42px;
      }

      @include vp-959 {
        width: 118px;
        height: 42px;
      }
    }
  }
}
