.logo {
  transition: all $trans-default;

  &:link {
    @include hover-focus {
      opacity: 0.5;
    }
  }

  svg {
    width: 230px;
    height: 28px;
    user-select: none;
    pointer-events: none;
  }

  &--small-opacity {
    svg {
      @include vp-959 {
        width: 150px;
        height: 18px;
        opacity: 0.5;
      }
    }
  }
}
