.section {
  &:first-of-type {
    padding-top: 112px;

    @include vp-1439 {
      padding-top: 44px;
    }

    @include vp-959 {
      padding-top: 32px;
    }
  }

  &:last-of-type {
    padding-bottom: 300px;

    @include vp-1439 {
      padding-bottom: 227px;
    }

    @include vp-959 {
      padding-bottom: 91px;
    }
  }

  &:not(:last-of-type) {
    padding-bottom: 195px;

    @include vp-1439 {
      padding-bottom: 160px;
    }

    @include vp-959 {
      padding-bottom: 38px;
    }
  }
}
