mixin footer(footerMods)
  -
    const payList = [
      {
        href: "#",
        img: {
          path: "content",
          image: "webmoney",
          format: "png",
          width: 105,
          height: 28,
          altText: "webmoney",
        }
      },
      {
        href: "#",
        icon: {
          name: "icon-capitalist",
          width: 90,
          height: 28,
        }
      },
      {
        href: "#",
        img: {
          path: "content",
          image: "wiretransfer",
          format: "png",
          width: 101,
          height: 59,
          altText: "wire transfer",
        }
      },
      {
        href: "#",
        img: {
          path: "content",
          image: "wiretransfer",
          format: "png",
          width: 101,
          height: 59,
          altText: "wire transfer",
        }
      },
    ]

    const socialList = [
      {
        href: "#",
        icon: {
          name: "icon-telegram",
          width: 26,
          height: 26,
        },
        mode: "link-list__item--fill-pacific-blue",
      },
      {
        href: "#",
        icon: {
          name: "icon-vk",
          width: 25,
          height: 25,
        },
        mode: "link-list__item--fill-san-marino",
      },
      {
        href: "#",
        img: {
          path: "content",
          image: "trafic-cardinal",
          format: "png",
          width: 120,
          height: 14,
          altText: "trafic-cardinal",
        },
        mode: "link-list__item--fill-chilean-fire link-list__item--extra-pd",
      },
    ]
  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        +logo().footer__logo
        +link-list(payList).link-list--wide-items.footer__pay-list
        +link-list(socialList).footer__social-list
      .footer__copyright
        p ⓒ 2013-2022 All rights reserved. Affilate Networks Group EZE LLC A-30-01-04-08, Flamingo Villas, Ajman, <br>United Arab Emirates
        p Политика конфиденциальности






